h1{
    color:aqua;
}

h1{
    text-align: center;
}

h2{
    color:brown
}
html{
    background-color: blue;
}
.Section1{
    color:blue;
}

.Section1{
    background-color: rgb(127, 30, 217);
}

.paragraphe2{
    color:rgb(92, 31, 31)
}